* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  body {
      color: white;
      background-image: url(img/ZA-en-20191203-popsignuptwoweeks-perspective_alpha_website_small.jpg);

  }

  #form-container{
      max-width: 1240px;
      height: 1036px; 
      background-color:rgba(0, 0, 0, 0.3);
      margin: auto;
      margin-top: 30px;
  }

  #form-title{
      color: white;
      font-family: 'Bowlby One SC', cursive;
      font-size: 3.1rem;
      letter-spacing:0.05em ;
  }

  span{
      color: red;
  }

  #form-header {
      text-align: center;
  }

  #login-form-container{
      max-width: 500px;
      background-color: rgba(0, 0, 0, 0.8);
      margin: auto;
      margin-top: 50px;
      padding: 10px;
  }

  #login-form{
      max-width: 460px;
      margin: auto;
      font-size: 1rem;
  }

  #username,
  #password{
      width: 100%;
      padding: 10px 10px;
      margin-top: 20px;

  }

  .input-box{
      margin-top: 20px;

  }

  #submit{
      width: 200px;
      height: 45px;
      background-color: red;
      color: white;
      font-size: 1rem;
      border: none;
      cursor: pointer;
      border-radius: 50px;
  }

  #form-submit{
      width: 160px;
      margin: auto;
      margin-top: 20px;
  }