<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div id="home-container">
        <header id="home-header">
            <h1 id="home-title">NET<span>FLIX</span></h1>
        </header>
        <section id="profiles-container">
            <h2 id="profile-title">Who's watching?</h2>
            <div id="users-container">
            <div class="users">
                <a id="profile1" href="#"><img src="https://ih0.redbubble.net/image.618369215.1083/flat,1000x1000,075,f.u2.jpg" alt="profile1"></a>
                <br>
                <label for="profile1">Children</label>
            </div>
            <div class="users">
                <a id="profile2" href="#"><img src="https://i.pinimg.com/564x/e3/94/30/e39430434d2b8207188f880ac66c6411.jpg" alt="profile2"></a>
                <br>
                <label for="profile2">Dad</label>
            </div>
            <div class="users">
                <a id="profile3" href="#"><img src="https://ih1.redbubble.net/image.618405117.2432/flat,1000x1000,075,f.u2.jpg" alt="profile3"></a>
                <br>
                <label for="profile3">Mom</label>
            </div>
            <div class="users">
                <a id="profile4" href="#"><img src="https://i.pinimg.com/564x/61/54/76/61547625e01d8daf941aae3ffb37f653.jpg" alt="profile4"></a>
                <br>
                <label for="profile4">Jack</label>
            </div>
            
            </div>
            <div id= "manage">
                <button type="menu" id="manage">MANAGE PROFILES</button>

            </div>

        </section>
       


    </div>
    
</body>
</html>