<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap" rel="stylesheet">
</head>
<body>
    <div id="form-container">
        <header id="form-header">
            <h1 id="form-title">NET<span>FLIX</span></h1>
        </header>
        <section id="login-form-container">
            <div id="login-form">
                <form action="/login" method="POST">
                    <h4>{{feedback}}</h4>
                <div class="input-box">
                    <input type="text" name="username" id="username" placeholder="E-mail or Phone Number"><br>
                </div>
                <div class="input-box">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <div id="help"><a href="#">Need Help?</a></div>
                <div id="form-submit">
                    <button type="submit" id="submit" value="login">Log In</button>
                </div>
                <div id="learn-more"><p>This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">Learn More.

                </a></p>
                </div>

             </form>

        
            </div>
        </section>
        </div>
        <footer id="footer">
            <div class="question">Questions? Call 0800-022-5173</div>
            <ul class="footer-element">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Help Centre</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Corporate Information</a></li>
            </ul>

        </footer>
    
</body>
</html>